{% extends 'base.html' %}

{% block title %} Updater {% endblock %}

{% block content %} 
<div class="container">

<!-- Status & Info Row -->
<div class="row">
	<div class="col">
		<div class="card shadow">
			<div class="card-header bg-info">
				<i class="far fa-arrow-alt-circle-up"></i>&nbsp; Status
			</div>
			<div class="card-body text-center">
				<div id="update_checking">Checking for update... <br> 
					<div class="spinner-border text-primary" role="status" id="update_status_spinner">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
				<div id="update_available" style="display:none">
					<div class="alert alert-success fade show" role="alert">
						<strong>An update is available!</strong> You are currently <i id="commits_behind"></i> changes behind the latest on this branch. <br>
						<br><h1><i class="fas fa-cloud-download-alt"></i></h1>
					</div><br>
					<div class="d-grid gap-2">
						<button type="button" class="btn btn-success btn-block shadow">
							Update Now
						</button>
					</div>
				</div>
				<div id="update_failed" style="display:none">
					<div class="alert alert-danger fade show" role="alert">
						<strong>Error!</strong> The update check failed for some reason. Check your logs.
						<br><h1><i class="fas fa-exclamation-triangle"></i></h1>
					</div>
				</div>
				<div id="update_current" style="display:none">
					<div class="alert alert-info fade show" role="alert">
						<strong>You are up to date!</strong>
						<br><h1><i class="far fa-check-circle"></i></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow">
			<div class="card-header bg-info">
				<i class="fas fa-info-circle"></i>&nbsp; Info
			</div>
			<div class="card-body">
				<b>Current Version:</b>&nbsp;&nbsp; <i>{{ update_data['version'] }}</i><br>
				<b>Branch:</b>&nbsp;&nbsp; <i>{{ update_data['branch_target'] }}</i><br>
				<b>Remote:</b>&nbsp;&nbsp; <i>{{ update_data['remote_url'] }}</i><br>
			</div>
		</div>
	</div>	
</div><br>

<!-- Branch Selector Card -->
<div class="card shadow">
    <div class="card-header bg-info">
        <i class="fas fa-code-branch"></i>&nbsp; Branch Selector
    </div>
    <div class="card-body">

		<!-- Select Branch Target -->
		Change the current branch:
		<select class="form-select" aria-label="Branch-Target">
			{% for branch in update_data['branches'] %}
				{% if branch == update_data['branch_target'] %}
					<option value="{{branch}}" selected>{{ branch }}</option>
				{% else %} 
					<option value="{{branch}}">{{ branch }}</option>
				{% endif %}
			{% endfor %}
		</select>
		<br>
		<!-- Checkout Selected Branch -->
		<div class="d-grid gap-2">
			<button type="button" class="btn btn-primary btn-block shadow">
				Checkout Branch
			</button>
		</div>

	</div>
</div>
<br>

<!-- Output Window/Textbox -->
<div class="card shadow">
    <div class="card-header bg-info">
        <i class="fas fa-desktop"></i>&nbsp; Output Window
    </div>
    <div class="card-body">
		<div class="alert alert-secondary" role="alert" style="font-family:courier;" id="output_window">
			Updater Output Alert...
		</div>
	</div>
</div>
<br>


</div> <!-- End of Container -->
{% endblock %}

{% block scripts %}
	<!-- Updater Script -->
	<script src="{{ url_for('static', filename='js/updater.js') }}"></script>
{% endblock %}