{% extends 'base.html' %}

{% block title %} Updater {% endblock %}

{% block content %} 
<div class="container">

<!-- Statu & Info Row -->
<div class="row">
	<div class="col">
		<div class="card shadow">
			<div class="card-header bg-info">
				<i class="far fa-arrow-alt-circle-up"></i>&nbsp; Status
			</div>
			<div class="card-body text-center">
				<div id="update_checking">Checking for update... <br> 
					<div class="spinner-border text-primary" role="status" id="update_status_spinner">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
				<div id="update_available" style="display:none">
					An update is available!  You are currently <div id="commits_behind"></div> changes behind the latest on this branch. <br>
				</div>
				<div id="update_failed" style="display:none">
					<b style="color:red;">ERROR: The check for an update failed for some reason.  Check your logs.</b>
					<br><h1><i class="fas fa-exclamation-triangle"></i></h1>
				</div>
				<div id="update_current" style="display:none">
					<b style="color:rgb(20, 150, 20);">Success! Your version is up to date with this branch.</b>
					<br><h1><i class="far fa-check-circle"></i></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow">
			<div class="card-header bg-info">
				<i class="fas fa-info-circle"></i>&nbsp; Info
			</div>
			<div class="card-body">
				<b>Current Version:</b>&nbsp;&nbsp; <i>{{ update_data['version'] }}</i><br>
				<b>Branch:</b>&nbsp;&nbsp; <i>{{ update_data['branch_target'] }}</i><br>
				<b>Remote:</b>&nbsp;&nbsp; <i>{{ update_data['remote_url'] }}</i><br>
			</div>
		</div>
	</div>	
</div><br>

<!-- Updater Card -->
<div class="card shadow">
    <div class="card-header bg-info">
        <i class="far fa-arrow-alt-circle-up"></i>&nbsp; Updater
    </div>
    <div class="card-body">

	<!-- Select Branch Target -->
	Change the current branch:
	<select class="form-select" aria-label="Branch-Target">
		{% for branch in update_data['branches'] %}
			{% if branch == update_data['branch_target'] %}
				<option value="{{branch}}" selected>{{ branch }}</option>
			{% else %} 
				<option value="{{branch}}">{{ branch }}</option>
			{% endif %}
		{% endfor %}
	</select>
	<br>
	<!-- Do Update -->
	<div class="d-grid gap-2">
		<button type="button" class="btn btn-outline-success btn-block shadow">
			Perform Update on {{ update_data['branch_target'] }}
		</button>
	</div>
	<!-- Output Window/Textbox -->

	</div>
</div>
<br>

</div> <!-- End of Container -->
{% endblock %}

{% block scripts %}
	<!-- Updater Script -->
	<script src="{{ url_for('static', filename='js/updater.js') }}"></script>
{% endblock %}